<a href="#portfolioModal{{photo.id}}" class="portfolio-link" data-toggle="modal">
    <div class="caption">
        <div class="caption-content">
            <i class="fa fa-search-plus fa-3x"></i>
        </div>
    </div>
    <img src="{{photo.src}}" class="img-responsive" ng-click="showAdvanced($event)" width="100%" style="height:300px;"  alt="{{photo.nom}}">
</a>
<br/>
<!--               affichage modale image selecionné      -->
<div class="portfolio-modal modal fade" id="portfolioModal{{photo.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{photo.nom}}</h2>
                        <hr class="star-primary">
                        <img src="{{photo.src}}" class="img-responsive img-centered" alt="">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
 